h1,h2,h3,h4{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.justify,li{
    text-align: justify;
    text-justify: inter-word;
}

.title{
    font-weight: bold;
    /* color: #253cb1; */
}

.crew-detail p{
    margin: 0;
}

.crew-detail{
    margin-bottom: 2vh;
}

.blue-font{
    color: #1f71d7;
    font-weight: bold;
}

#nav{
    background-image: linear-gradient(124.87deg,#3235C0 0%,#2A93EE 58.85%,#35C1EB 100%) ;
    font-weight: bold;
}
nav .brand-logo {
    font-size: 1.5rem;
}

#content{
    margin: 0;
    padding: 0;
    padding-top: 5vh;
    background-image: url("../assets/bg.svg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

#teamLogo{
    height: 250px;
    width: auto;
}

#teams{
    text-align: center;
}

#team_img{
    min-height: 350px;
    width: auto;
}

#positionLogo{
    max-height: 1.75vw;
}

@media (min-width: 768px){
    #team_img{
        height: 350px;
        width: auto;
    }
 }

.card .card-image img{
    display: inline-block;
    padding-top: 5%;
}

.square{
    width: 2vw;
    height: 2vw;
}

.loader{
    width: 100vh;
    height: 80vh;
}

.loader .preloader-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
}